# Database URL for PostgreSQL
DATABASE_URL=postgresql://postgres:Ancasi96nuwe%2B@localhost:5432/gymmanager
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=1387da7365ae491bf1b23d9bdc88d30a65d001d8048496b091983fcb72a5b6b0


# App
VITE_APP_TITLE=GymManager POS
