DATABASE_URL=postgresql://postgres:Ancasi96nuwe%2B@localhost:5432/nuwegym
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=1387da7365ae491bf1b23d9bdc88d30a65d001d8048496b091983fcb72a5b6b0

GROQ_API_KEY=gsk_q967kiurGG88LxYtf1u2WGdyb3FYoWGonwaF8wo7nfTa28nO75
GROQ_MODEL=llama-3.3-70b-versatile

# App
VITE_APP_TITLE=Trainix

# Web Push (VAPID)
VITE_VAPID_PUBLIC_KEY=BDW2ORWnSe3vATGLeRii3EHWu0KRIM3-k9px9XtZmNoTw-S5An-WKgyCdxtHCn-KObGKCNdyQkXDsN3oaapdkbw
VAPID_PRIVATE_KEY=9q13lTQ7M5k9y-ARVn6EOKJ0CwoacM2ZCTWn1ofhW-A
